* {

    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0;
    background-color: #223851;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    box-sizing: border-box;

}

.sidebar-right {
    background-color: #0b101a;
    box-shadow: rgba(0, 0, 0, 0.56) 0 22px 70px 4px;
    border-radius: 15px;
    width: 200px;
    height: 100%;
    float: right;
    position: relative;
    padding: 0;
    text-align: center;
    color: white;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    vertical-align: center;


}

.sidebar-left {
    background-color: #0b101a;
    box-shadow: rgba(0, 0, 0, 0.56) 0 22px 70px 4px;
    border-radius: 15px;
    width: 200px;
    height: 100%;
    float: left;
    position: relative;
    padding: 0;
    text-align: center;
    color: white;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    vertical-align: center;


}


.color {
    -webkit-appearance: none;
    width: 100px;
    height: 100px;
    text-align: center;
    color: white;
    background-color: #0b101a;
    border-color: #03e9f4 !important;
    padding: 0;

}


.size {

    width: 100px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: #0b101a;;
    border-color: #03e9f4;
    padding: 0;
    border-radius: 15px;

}



.size:hover {

 background-color: rgba(255, 255, 255, 0.07);

}

.clear-btn {

    width: 100px;
    height: 100px;
    text-align: center;
    color: white;
    background-color: #0b101a;;
    border-color: #03e9f4;
    border-radius: 15px;

}

.save-btn {

    width: 100px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: #0b101a;;
    border-color: #03e9f4;
    border-radius: 15px;

}


.pencil-btn {

    width: 100px;
    height: 100px;
    text-align: center;
    color: white;
    background-color: #0b101a;;
    border-color: #03e9f4;
    border-radius: 15px;
    transition: 0.1s ease-in-out;

}

.pencil-btn.active {

    background-color: #223851;
    box-shadow: rgba(34, 56, 81, 0.47) 0 22px 90px 4px;

}


.eraser-btn {

    width: 100px;
    height: 100px;
    text-align: center;
    color: white;
    background-color: #0b101a;;
    border-color: #03e9f4;
    border-radius: 15px;

}

.eraser-btn.active {

    background-color: #223851;
    box-shadow: rgba(34, 56, 81, 0.47) 0 22px 90px 4px

}


.bucket-btn {

    width: 100px;
    height: 100px;
    text-align: center;
    color: white;
    background-color: #0b101a;;
    border-color: #03e9f4;
    border-radius: 15px;

}

.bucket-btn.active {

    background-color: #223851;
    box-shadow: rgba(34, 56, 81, 0.47) 0 22px 90px 4px;

}

.outer-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 100%;
    width: 850px;
}

.container {

    height: 100%;
    background-color: #223851;
    box-shadow: rgba(0, 0, 0, 0.56) 0 22px 70px 4px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    gap: 1px;
    --size: 16;


}

.pixel {

    background-color: #0b101a;
    border: solid 1px transparent;
    border-radius: 2px;


}

body {


    height: 850px;
    width: 190vh;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}



.height-10px {

    height: 10px;
}


